Vimmi Exam
Hello and welcome to Vimmi.

Please answer the questions below.

For each question provide a clear answer and the actual code that you made to address the question.

Please send your answers in a reply, not later than 3 hours after you received this email. 
You can skip some questions in order to make it on time.

The exam is to evaluate your knowledge and experience in order to match it with Vimmiâ€™s needs.

A. Personal information
What is your full name?

What is your contact information?

What is your python development level? Junior, Mid or Senior?

How many years do you already have in python development? How many as professional (In a company) How many as a student or as a hobby?

How many years do you already have as a backend developer? How many as professional (In a company) How many as a student or as a hobby?   

Yeah, no coding here. Yet.

 B. Programing
Please provide a clear answer and the relevant code for each question.

Between 28 to 117, how many numbers include the digit 7?

What is the average number of the group of numbers from the question above?

What is the sum of squares of that group?

Provide a general function to resolve Q1. Where the inputs are the minimum and the maximum number in the range and the last parameter is the digit. For example, func(28, 117, 7) will return the answer for Q1. Provide the answer for func(98, 207, 0)

As in Q4, but with lambada. And an answer for lam(111, 1011, 11)

C. Data management
Please provide a clear answer and the relevant code for each question.

The attached json file has a list of the top-250 movies in imdb.com. What is the average imdb-rating of the top-10 movies?

At about what time the top-50 movies were published?

Provide a table with average rating and "average" publication time for each 10 movies from the top-10 to end of the list. For each row, provide the title of the best movie.

Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.

Provide a query examples to find the average rating

Provide a script to upload this data into your suggested DB. 

The movies list is coming from IMBD: API for IMDb, TMDb, Wikipedia and more - IMDb-API . 
How will you update the DB with the current top-250 list?
You can use this apikey: k_fjjgi8pt 
Note that you can use it only during the exam time. Please do not use it elsewhere.

Using the imdb-api, how you'll enrich the movie data with Actors and Genres?

Once your data is enriched with Actors, write a query on your data, to find the top-10 actors on your data.

In [15]:
#Between 28 to 117, how many numbers include the digit 7
def includes_decimal(num,decimal=7):
    while num>0:
        if num%10==decimal:
            return 1
        num//=10
    return 0

a=28
b=117
print(sum(includes_decimal(x) for x in range(a,b+1)))

18

In [16]:
#re-check
print(sum(1 if "7" in str(x) else 0 for x in range(a,b+1)))

18

In [17]:
#What is the average number of the group of numbers from the question above?
import numpy as np

arr=np.array([x for x in range(a,b+1) if includes_decimal(x)],dtype=int)
print(arr.mean())

75.61111111111111

In [14]:
#What is the sum of squares of that group?
print(sum(pow(x,2) for x in arr))

109017

In [19]:
def func(a,b,decimal):
    assert decimal>=0 and decimal<10
    assert a<=b
    return sum(includes_decimal(x,decimal) for x in range(a,b+1))

In [20]:
func(98, 207, 0)

27

In [21]:
#re-check
print(sum(1 if "0" in str(x) else 0 for x in range(98,208)))

27

In [41]:
from math import floor,log
def lam(a,b,number):
    n = floor(log(number))
    mod = pow(10,n)
    def _lam_n(n,mod,num):
        while n>0:
            if n%mod == num:
                return 1
            n//=10
        return 0
    
    count=0
    for i in range(a,b+1):
        l = _lam_n(i,mod,number)
        if l: 
            count+=1 
    return count

In [42]:
lam(111, 1011, 11)

18

In [43]:
#re-check
print(sum(1 if "11" in str(x) else 0 for x in range(111,1012)))

18

C. Data management Please provide a clear answer and the relevant code for each question.
- The attached json file has a list of the top-250 movies in imdb.com. What is the average imdb-rating of the top-10 movies?
- At about what time the top-50 movies were published?
- Provide a table with average rating and "average" publication time for each 10 movies from the top-10 to end of the list. For each row, provide the title of the best movie.
- Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.
- Provide a query examples to find the average rating
- Provide a script to upload this data into your suggested DB.

In [143]:
import pandas as pd
import json

In [144]:
data_dir="../../test-data/exam1/data.json"

with open(data_dir) as datafile:
    data = json.load(datafile)
df = pd.DataFrame(data["items"])
df.tail(50)

,id,rank,title,fullTitle,year,image,crew,imDbRating,imDbRatingCount
200,tt0118715,201,The Big Lebowski,The Big Lebowski (1998),1998,https://imdb-api.com/images/original/MV5BMTQ0N...,"Joel Coen (dir.), Jeff Bridges, John Goodman",8.1,793627
201,tt0892769,202,How to Train Your Dragon,How to Train Your Dragon (2010),2010,https://imdb-api.com/images/original/MV5BMjA5N...,"Dean DeBlois (dir.), Jay Baruchel, Gerard Butler",8.1,723541
202,tt1392190,203,Mad Max: Fury Road,Mad Max: Fury Road (2015),2015,https://imdb-api.com/images/original/MV5BN2EwM...,"George Miller (dir.), Tom Hardy, Charlize Theron",8.1,974333
203,tt0978762,204,Mary and Max,Mary and Max (2009),2009,https://imdb-api.com/images/original/MV5BMDgzY...,"Adam Elliot (dir.), Toni Collette, Philip Seym...",8.1,175534
204,tt0198781,205,"Monsters, Inc.","Monsters, Inc. (2001)",2001,https://imdb-api.com/images/original/MV5BMTY1N...,"Pete Docter (dir.), Billy Crystal, John Goodman",8.1,887605
205,tt0073195,206,Jaws,Jaws (1975),1975,https://imdb-api.com/images/original/MV5BMmVmO...,"Steven Spielberg (dir.), Roy Scheider, Robert ...",8.1,586595
206,tt0019254,207,The Passion of Joan of Arc,The Passion of Joan of Arc (1928),1928,https://imdb-api.com/images/original/MV5BNjBjN...,"Carl Theodor Dreyer (dir.), Maria Falconetti, ...",8.1,53889
207,tt0395169,208,Hotel Rwanda,Hotel Rwanda (2004),2004,https://imdb-api.com/images/original/MV5BZGJjY...,"Terry George (dir.), Don Cheadle, Sophie Okonedo",8.1,352049
208,tt0046438,209,Tokyo Story,Tokyo Story (1953),1953,https://imdb-api.com/images/original/MV5BYWQ4Z...,"YasujirÃƒÂ´ Ozu (dir.), ChishÃƒÂ» RyÃƒÂ», Chieko Hig...",8.1,60711
209,tt0097165,210,Dead Poets Society,Dead Poets Society (1989),1989,https://imdb-api.com/images/original/MV5BOGYwY...,"Peter Weir (dir.), Robin Williams, Robert Sean...",8.1,475223
210,tt0048473,211,Pather Panchali,Pather Panchali (1955),1955,https://imdb-api.com/images/original/MV5BMmFkN...,"Satyajit Ray (dir.), Kanu Bannerjee, Karuna Ba...",8.1,31929
211,tt0075148,212,Rocky,Rocky (1976),1976,https://imdb-api.com/images/original/MV5BNTBkM...,"John G. Avildsen (dir.), Sylvester Stallone, T...",8.0,562658
212,tt0091763,213,Platoon,Platoon (1986),1986,https://imdb-api.com/images/original/MV5BMzRjZ...,"Oliver Stone (dir.), Charlie Sheen, Tom Berenger",8.0,408397
213,tt1950186,214,Ford v Ferrari,Ford v Ferrari (2019),2019,https://imdb-api.com/images/original/MV5BM2UwM...,"James Mangold (dir.), Matt Damon, Christian Bale",8.0,371250
214,tt0092005,215,Stand by Me,Stand by Me (1986),1986,https://imdb-api.com/images/original/MV5BODJmY...,"Rob Reiner (dir.), Wil Wheaton, River Phoenix",8.0,395211
215,tt0088247,216,The Terminator,The Terminator (1984),1984,https://imdb-api.com/images/original/MV5BYTViN...,"James Cameron (dir.), Arnold Schwarzenegger, L...",8.0,845824
216,tt1895587,217,Spotlight,Spotlight (2015),2015,https://imdb-api.com/images/original/MV5BMjIyO...,"Tom McCarthy (dir.), Mark Ruffalo, Michael Keaton",8.0,461169
217,tt1979320,218,Rush,Rush (2013),2013,https://imdb-api.com/images/original/MV5BOWEwO...,"Ron Howard (dir.), Daniel BrÃƒÂ¼hl, Chris Hemsworth",8.0,470707
218,tt0758758,219,Into the Wild,Into the Wild (2007),2007,https://imdb-api.com/images/original/MV5BMTAwN...,"Sean Penn (dir.), Emile Hirsch, Vince Vaughn",8.0,614183
219,tt0074958,220,Network,Network (1976),1976,https://imdb-api.com/images/original/MV5BZGNjY...,"Sidney Lumet (dir.), Faye Dunaway, William Holden",8.0,157700
220,tt0032138,221,The Wizard of Oz,The Wizard of Oz (1939),1939,https://imdb-api.com/images/original/MV5BNjUyM...,"Victor Fleming (dir.), Judy Garland, Frank Morgan",8.0,391994
221,tt3315342,222,Logan,Logan (2017),2017,https://imdb-api.com/images/original/MV5BYzc5M...,"James Mangold (dir.), Hugh Jackman, Patrick St...",8.0,734873
222,tt0107048,223,Groundhog Day,Groundhog Day (1993),1993,https://imdb-api.com/images/original/MV5BZWIxN...,"Harold Ramis (dir.), Bill Murray, Andie MacDowell",8.0,617667
223,tt0382932,224,Ratatouille,Ratatouille (2007),2007,https://imdb-api.com/images/original/MV5BMTMzO...,"Brad Bird (dir.), Brad Garrett, Lou Romano",8.0,709175
224,tt0070047,225,The Exorcist,The Exorcist (1973),1973,https://imdb-api.com/images/original/MV5BYWFlZ...,"William Friedkin (dir.), Ellen Burstyn, Max vo...",8.0,394637
225,tt0381681,226,Before Sunset,Before Sunset (2004),2004,https://imdb-api.com/images/original/MV5BMTQ1M...,"Richard Linklater (dir.), Ethan Hawke, Julie D...",8.0,258495
226,tt0036868,227,The Best Years of Our Lives,The Best Years of Our Lives (1946),1946,https://imdb-api.com/images/original/MV5BY2RmN...,"William Wyler (dir.), Myrna Loy, Dana Andrews",8.0,63478
227,tt0317705,228,The Incredibles,The Incredibles (2004),2004,https://imdb-api.com/images/original/MV5BMTY5O...,"Brad Bird (dir.), Craig T. Nelson, Samuel L. J...",8.0,715120
228,tt0035446,229,To Be or Not to Be,To Be or Not to Be (1942),1942,https://imdb-api.com/images/original/MV5BODZlO...,"Ernst Lubitsch (dir.), Carole Lombard, Jack Benny",8.0,36337
229,tt0032976,230,Rebecca,Rebecca (1940),1940,https://imdb-api.com/images/original/MV5BYTcxY...,"Alfred Hitchcock (dir.), Laurence Olivier, Joa...",8.0,135614
230,tt0032551,231,The Grapes of Wrath,The Grapes of Wrath (1940),1940,https://imdb-api.com/images/original/MV5BNzJiO...,"John Ford (dir.), Henry Fonda, Jane Darwell",8.0,92085
231,tt0058946,232,The Battle of Algiers,The Battle of Algiers (1966),1966,https://imdb-api.com/images/original/MV5BN2M4Y...,"Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ...",8.0,59394
232,tt1028532,233,Hachi: A Dog's Tale,Hachi: A Dog's Tale (2009),2009,https://imdb-api.com/images/original/MV5BNzE4N...,"Lasse HallstrÃƒÂ¶m (dir.), Richard Gere, Joan Allen",8.0,279180
233,tt0061512,234,Cool Hand Luke,Cool Hand Luke (1967),1967,https://imdb-api.com/images/original/MV5BOWFlN...,"Stuart Rosenberg (dir.), Paul Newman, George K...",8.0,175113
234,tt0245712,235,Amores perros,Amores perros (2000),2000,https://imdb-api.com/images/original/MV5BZjUxN...,"Alejandro G. IÃƒÂ±ÃƒÂ¡rritu (dir.), Emilio Echevar...",8.0,237901
235,tt0325980,236,Pirates of the Caribbean: The Curse of the Bla...,Pirates of the Caribbean: The Curse of the Bla...,2003,https://imdb-api.com/images/original/MV5BNGYyZ...,"Gore Verbinski (dir.), Johnny Depp, Geoffrey Rush",8.0,1098721
236,tt0053198,237,The 400 Blows,The 400 Blows (1959),1959,https://imdb-api.com/images/original/MV5BYTQ4M...,"FranÃƒÂ§ois Truffaut (dir.), Jean-Pierre LÃƒÂ©aud,...",8.0,116098
237,tt0113247,238,La Haine,La Haine (1995),1995,https://imdb-api.com/images/original/MV5BOTQxO...,"Mathieu Kassovitz (dir.), Vincent Cassel, Hube...",8.0,169371
238,tt0060827,239,Persona,Persona (1966),1966,https://imdb-api.com/images/original/MV5BNzY1N...,"Ingmar Bergman (dir.), Bibi Andersson, Liv Ull...",8.0,116299
239,tt0079470,240,Life of Brian,Life of Brian (1979),1979,https://imdb-api.com/images/original/MV5BMDA1Z...,"Terry Jones (dir.), Graham Chapman, John Cleese",8.0,394194
240,tt0071411,241,Dersu Uzala,Dersu Uzala (1975),1975,https://imdb-api.com/images/original/MV5BYWY0O...,"Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",8.0,28656
241,tt0476735,242,My Father and My Son,My Father and My Son (2005),2005,https://imdb-api.com/images/original/MV5BNjAzM...,"Cagan Irmak (dir.), Ãƒâ€¡etin Tekindor, Fikret Ku...",8.0,85913
242,tt0025316,243,It Happened One Night,It Happened One Night (1934),1934,https://imdb-api.com/images/original/MV5BYzJmM...,"Frank Capra (dir.), Clark Gable, Claudette Col...",8.0,102725
243,tt0059742,244,The Sound of Music,The Sound of Music (1965),1965,https://imdb-api.com/images/original/MV5BODIxN...,"Robert Wise (dir.), Julie Andrews, Christopher...",8.0,228249
244,tt4016934,245,The Handmaiden,The Handmaiden (2016),2016,https://imdb-api.com/images/original/MV5BNDJhY...,"Park Chan-wook (dir.), Kim Min-hee, Ha Jung-woo",8.0,140223
245,tt15097216,246,Jai Bhim,Jai Bhim (2021),2021,https://imdb-api.com/images/original/MV5BMGEzN...,"T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose",8.0,190774
246,tt0103639,247,Aladdin,Aladdin (1992),1992,https://imdb-api.com/images/original/MV5BY2Q2N...,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.0,406384
247,tt0083987,248,Gandhi,Gandhi (1982),1982,https://imdb-api.com/images/original/MV5BMzJiZ...,"Richard Attenborough (dir.), Ben Kingsley, Joh...",8.0,228867
248,tt1454029,249,The Help,The Help (2011),2011,https://imdb-api.com/images/original/MV5BMTM5O...,"Tate Taylor (dir.), Emma Stone, Viola Davis",8.0,451682
249,tt0101414,250,Beauty and the Beast,Beauty and the Beast (1991),1991,https://imdb-api.com/images/original/MV5BMzE5M...,"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",8.0,445274

In [145]:
df['rank']=df['rank'].apply(int)
df['imDbRating']=df['imDbRating'].apply(float)

In [146]:
# What is the average imdb-rating of the top-10 movies?
top=10
df.loc[df['rank']<=top]['imDbRating'].mean()

8.959999999999999

In [147]:
df['year']=df['year'].apply(int)

In [148]:
#At about what time the top-50 movies were published?
top=50
df.loc[df['rank']<=top]['year'].median()

1994.0

In [149]:
#re-check
lst=sorted(df.loc[df['rank']<=top]['year'])
lst[len(lst)//2]

1994

In [150]:
"""
Provide a table with average rating and 
"average" publication time 
for each 10 movies from the top-10 to end of the list. 

For each row, provide the title of the best movie.
"""

group=10
from collections import deque

def query(df:pd.DataFrame):
    global group
    sorted_df=df.sort_values(by="rank")
    table={
        "rank_from":deque(),
        "rank_to":deque(),
        "avg_imDbRating":deque(),
        "'avg' year":deque(),
        "best_film_title":deque()
    }
    for i in range(0,df.shape[0],group):
        subdf = sorted_df.iloc[i:i+group]
        sub_avg = subdf['imDbRating'].mean()
        sub_year_med = subdf['year'].median()
        max_rating=subdf['imDbRating'].max()
        best_movie_title=subdf.loc[subdf['imDbRating']==max_rating]['title'].iloc[0]
        table['rank_from'].append(i+1)
        table['rank_to'].append(i+group)
        table['avg_imDbRating'].append(sub_avg)
        table["'avg' year"].append(sub_year_med)
        table['best_film_title'].append(best_movie_title)
    return pd.DataFrame(table)

In [151]:
df.iloc[0:4]

,id,rank,title,fullTitle,year,image,crew,imDbRating,imDbRatingCount
0,tt0111161,1,The Shawshank Redemption,The Shawshank Redemption (1994),1994,https://imdb-api.com/images/original/MV5BMDFkY...,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2,2599768
1,tt0068646,2,The Godfather,The Godfather (1972),1972,https://imdb-api.com/images/original/MV5BM2MyN...,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.2,1795226
2,tt0468569,3,The Dark Knight,The Dark Knight (2008),2008,https://imdb-api.com/images/original/MV5BMTMxN...,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0,2571118
3,tt0071562,4,The Godfather Part II,The Godfather Part II (1974),1974,https://imdb-api.com/images/original/MV5BMWMwM...,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0,1237169

In [166]:
film_ratings=query(df)
film_ratings.head()

   rank_from  rank_to  avg_imDbRating  'avg' year           best_film_title
0          1       10            8.96      1993.5  The Shawshank Redemption
1         11       20            8.68      1994.5              Forrest Gump
2         21       30            8.58      1994.0     It's a Wonderful Life
3         31       40            8.50      1999.0             Spirited Away
4         41       50            8.45      1978.0              The Prestige

In [156]:
#Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.
"""
create table film_ratings (
id int primary key,
rank_from number
rank_to number
avg_imDbRating double
avg_year float
best_film_title nvarchar(64)
)
create unique constraint (rank_from,rank_to)

create transaction
insert rows
commit transaction
"""
print()

In [240]:
#Provide a script to upload this data into your suggested DB.
import mysql.connector
username='root'
password='root'

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000165F31313F0>

In [241]:
#Provide a query examples to find the average rating
mydb = mysql.connector.connect(
  host="localhost",
  user=username,
  password=password
)
print(mydb)
mydb.cmd_query("""
drop database films_db;
create database films_db;
create table films_db.film_ratings (
id int primary key,
rank_from int(4),
rank_to int(4),
avg_imDbRating double,
avg_year double,
best_film_title nvarchar(64)
)""")

{'warning_count': 0,
 'field_count': 0,
 'insert_id': 0,
 'affected_rows': 1,
 'server_status': 264}

In [242]:
mydb = mysql.connector.connect(
  host="localhost",
  user=username,
  password=password
)
query_insert="""insert into films_db.film_ratings values(%s,%s,%s,%s,%s,%s)"""
def conv(args):
    for x in range(len(args)):
        if isinstance(args[x],np.int64):
            args[x]=int(args[x])
    return args
            
insert_many_gen = list(conv([x,*film_ratings.iloc[x]]) for x in range(film_ratings.shape[0]))
dbc = mydb.cursor(buffered=True)

dbc.executemany(query_insert,insert_many_gen)
dbc.close()
mydb.commit()s

In [243]:
"""
The movies list is coming from IMBD: API for IMDb, TMDb, Wikipedia and more - IMDb-API . 
How will you update the DB with the current top-250 list? 
You can use this apikey: k_fjjgi8pt 
Note that you can use it only during the exam time. Please do not use it elsewhere.

q: Using the imdb-api, how you'll enrich the movie data with Actors and Genres?

ans: pull json data; alter table films_db & create columns Actors and Genre; update entities

q: Once your data is enriched with Actors, write a query on your data, to find the top-10 actors on your data.

ans: SELECT actor,count(*) as "count" FROM "actors that appear in each film" group by actor order by "count";
"""
print()