In [1]:
"""
Vimmi Exam
Hello and welcome to Vimmi.

Please answer the questions below.

For each question provide a clear answer and the actual code that you made to address the question.

Please send your answers in a reply, not later than 3 hours after you received this email. 
You can skip some questions in order to make it on time.

The exam is to evaluate your knowledge and experience in order to match it with Vimmiâ€™s needs.

A. Personal information
What is your full name?

What is your contact information?

What is your python development level? Junior, Mid or Senior?

How many years do you already have in python development? How many as professional (In a company) How many as a student or as a hobby?

How many years do you already have as a backend developer? How many as professional (In a company) How many as a student or as a hobby?   

Yeah, no coding here. Yet.

 B. Programing
Please provide a clear answer and the relevant code for each question.

Between 28 to 117, how many numbers include the digit 7?

What is the average number of the group of numbers from the question above?

What is the sum of squares of that group?

Provide a general function to resolve Q1. Where the inputs are the minimum and the maximum number in the range and the last parameter is the digit. For example, func(28, 117, 7) will return the answer for Q1. Provide the answer for func(98, 207, 0)

As in Q4, but with lambada. And an answer for lam(111, 1011, 11)

C. Data management
Please provide a clear answer and the relevant code for each question.

The attached json file has a list of the top-250 movies in imdb.com. What is the average imdb-rating of the top-10 movies?

At about what time the top-50 movies were published?

Provide a table with average rating and "average" publication time for each 10 movies from the top-10 to end of the list. For each row, provide the title of the best movie.

Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.

Provide a query examples to find the average rating

Provide a script to upload this data into your suggested DB. 

The movies list is coming from IMBD: API for IMDb, TMDb, Wikipedia and more - IMDb-API . 
How will you update the DB with the current top-250 list?
You can use this apikey: k_fjjgi8pt 
Note that you can use it only during the exam time. Please do not use it elsewhere.

Using the imdb-api, how you'll enrich the movie data with Actors and Genres?

Once your data is enriched with Actors, write a query on your data, to find the top-10 actors on your data.
"""
print()

In [2]:
#Between 28 to 117, how many numbers include the digit 7
def includes_decimal(num,decimal=7):
    while num>0:
        if num%10==decimal:
            return 1
        num//=10
    return 0

a=28
b=117
print(sum(includes_decimal(x) for x in range(a,b+1)))

18

In [3]:
#re-check
print(sum(1 if "7" in str(x) else 0 for x in range(a,b+1)))

18

In [4]:
#What is the average number of the group of numbers from the question above?
import numpy as np

arr=np.array([x for x in range(a,b+1) if includes_decimal(x)],dtype=int)
print(arr.mean())

75.61111111111111

In [5]:
#What is the sum of squares of that group?
print(sum(pow(x,2) for x in arr))

109017

In [6]:
def func(a,b,decimal):
    assert decimal>=0 and decimal<10
    assert a<=b
    return sum(includes_decimal(x,decimal) for x in range(a,b+1))

In [7]:
func(98, 207, 0)

27

In [8]:
#re-check
print(sum(1 if "0" in str(x) else 0 for x in range(98,208)))

27

In [9]:
from math import floor,log
def lam(a,b,number):
    n = floor(log(number))
    mod = pow(10,n)
    def _lam_n(n,mod,num):
        while n>0:
            if n%mod == num:
                return 1
            n//=10
        return 0
    
    count=0
    for i in range(a,b+1):
        l = _lam_n(i,mod,number)
        if l: 
            count+=1 
    return count

In [10]:
lam(111, 1011, 11)

18

In [11]:
#re-check
print(sum(1 if "11" in str(x) else 0 for x in range(111,1012)))

18

C. Data management Please provide a clear answer and the relevant code for each question.
- The attached json file has a list of the top-250 movies in imdb.com. What is the average imdb-rating of the top-10 movies?
- At about what time the top-50 movies were published?
- Provide a table with average rating and "average" publication time for each 10 movies from the top-10 to end of the list. For each row, provide the title of the best movie.
- Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.
- Provide a query examples to find the average rating
- Provide a script to upload this data into your suggested DB.

In [12]:
import pandas as pd
import json

In [13]:
data_dir="../../test-data/exam1/data.json"

with open(data_dir) as datafile:
    data = json.load(datafile)
df = pd.DataFrame(data["items"])
df.head()

,id,rank,title,fullTitle,year,image,crew,imDbRating,imDbRatingCount
0,tt0111161,1,The Shawshank Redemption,The Shawshank Redemption (1994),1994,https://imdb-api.com/images/original/MV5BMDFkY...,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2,2599768
1,tt0068646,2,The Godfather,The Godfather (1972),1972,https://imdb-api.com/images/original/MV5BM2MyN...,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.2,1795226
2,tt0468569,3,The Dark Knight,The Dark Knight (2008),2008,https://imdb-api.com/images/original/MV5BMTMxN...,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0,2571118
3,tt0071562,4,The Godfather Part II,The Godfather Part II (1974),1974,https://imdb-api.com/images/original/MV5BMWMwM...,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0,1237169
4,tt0050083,5,12 Angry Men,12 Angry Men (1957),1957,https://imdb-api.com/images/original/MV5BMWU4N...,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.9,768136

In [14]:
df['rank']=df['rank'].apply(int)
df['imDbRating']=df['imDbRating'].apply(float)

In [15]:
# What is the average imdb-rating of the top-10 movies?
top=10
df.loc[df['rank']<=top]['imDbRating'].mean()

8.959999999999999

In [16]:
df['year']=df['year'].apply(int)

In [17]:
#At about what time the top-50 movies were published?
top=50
df.loc[df['rank']<=top]['year'].median()

1994.0

In [18]:
#re-check
lst=sorted(df.loc[df['rank']<=top]['year'])
lst[len(lst)//2]

1994

In [19]:
"""
Provide a table with average rating and 
"average" publication time 
for each 10 movies from the top-10 to end of the list. 

For each row, provide the title of the best movie.
"""

group=10
from collections import deque

def query(df:pd.DataFrame):
    global group
    sorted_df=df.sort_values(by="rank")
    table={
        "rank_from":deque(),
        "rank_to":deque(),
        "avg_imDbRating":deque(),
        "'avg' year":deque(),
        "best_film_title":deque()
    }
    for i in range(0,df.shape[0],group):
        subdf = sorted_df.iloc[i:i+group]
        sub_avg = subdf['imDbRating'].mean()
        sub_year_med = subdf['year'].median()
        max_rating=subdf['imDbRating'].max()
        best_movie_title=subdf.loc[subdf['imDbRating']==max_rating]['title'].iloc[0]
        table['rank_from'].append(i+1)
        table['rank_to'].append(i+group)
        table['avg_imDbRating'].append(sub_avg)
        table["'avg' year"].append(sub_year_med)
        table['best_film_title'].append(best_movie_title)
    return pd.DataFrame(table)

In [20]:
df.iloc[0:4]

,id,rank,title,fullTitle,year,image,crew,imDbRating,imDbRatingCount
0,tt0111161,1,The Shawshank Redemption,The Shawshank Redemption (1994),1994,https://imdb-api.com/images/original/MV5BMDFkY...,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2,2599768
1,tt0068646,2,The Godfather,The Godfather (1972),1972,https://imdb-api.com/images/original/MV5BM2MyN...,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.2,1795226
2,tt0468569,3,The Dark Knight,The Dark Knight (2008),2008,https://imdb-api.com/images/original/MV5BMTMxN...,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0,2571118
3,tt0071562,4,The Godfather Part II,The Godfather Part II (1974),1974,https://imdb-api.com/images/original/MV5BMWMwM...,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0,1237169

In [21]:
film_ratings=query(df)
film_ratings.head()

   rank_from  rank_to  avg_imDbRating  'avg' year           best_film_title
0          1       10            8.96      1993.5  The Shawshank Redemption
1         11       20            8.68      1994.5              Forrest Gump
2         21       30            8.58      1994.0     It's a Wonderful Life
3         31       40            8.50      1999.0             Spirited Away
4         41       50            8.45      1978.0              The Prestige

In [22]:
#Such data should be saved in a common database. How will you do that? Provide an example (pseudo) code.
"""
create table film_ratings (
id int primary key,
rank_from number
rank_to number
avg_imDbRating double
avg_year float
best_film_title nvarchar(64)
)
create unique constraint (rank_from,rank_to)

create transaction
insert rows
commit transaction
"""
print()

In [23]:

import mysql.connector
username='root'
password='root'

In [24]:
#Provide a script to upload this data into your suggested DB.
mydb = mysql.connector.connect(
  host="localhost",
  user=username,
  password=password
)
print(mydb)
mydb.cmd_query("""
drop database if exists films_db;
create database films_db;
create table films_db.film_ratings (
id int primary key,
rank_from int(4),
rank_to int(4),
avg_imDbRating double,
avg_year double,
best_film_title nvarchar(64)
)""")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002187AA7E1D0>

{'warning_count': 0,
 'field_count': 0,
 'insert_id': 0,
 'affected_rows': 1,
 'server_status': 264}

In [25]:
mydb = mysql.connector.connect(
  host="localhost",
  user=username,
  password=password
)
query_insert="""insert into films_db.film_ratings values(%s,%s,%s,%s,%s,%s)"""
def conv(args):
    for x in range(len(args)):
        if isinstance(args[x],np.int64):
            args[x]=int(args[x])
    return args
            
insert_many_gen = list(conv([x,*film_ratings.iloc[x]]) for x in range(film_ratings.shape[0]))
dbc = mydb.cursor(buffered=True)

dbc.executemany(query_insert,insert_many_gen)
dbc.close()
mydb.commit()

In [26]:
#Provide a query examples to find the average rating
mydb = mysql.connector.connect(
  host="localhost",
  user=username,
  password=password
)

conn=mydb.cursor()

conn.execute("""
SELECT avg(avg_imDbRating) FROM films_db.film_ratings
""".strip())
abg_imdb = conn.fetchall()[0][0]
conn.close()
mydb.close()
print(abg_imdb)

8.254399999999999

In [27]:
"""
The movies list is coming from IMBD: API for IMDb, TMDb, Wikipedia and more - IMDb-API . 
How will you update the DB with the current top-250 list? 
You can use this apikey: k_fjjgi8pt 
Note that you can use it only during the exam time. Please do not use it elsewhere.

q: Using the imdb-api, how you'll enrich the movie data with Actors and Genres?

ans: pull json data; alter table films_db & create columns Actors and Genre; update entities

q: Once your data is enriched with Actors, write a query on your data, to find the top-10 actors on your data.

ans: SELECT actor,count(*) as "count" FROM "actors that appear in each film" group by actor order by "count";
"""
print()